.venv/

.env

**pycache**/
*.pyc

data/synthetic/*.csv
data/processed/*.csv

# Datasets locaux

*.csv
!*.csv.dvc

# MLflow

models/fraude/mlruns/
models/fraude/mlflow.db
models/mlflow.db

models/credit/mlruns/
models/credit/mlflow.db
node_modules/
